   $color-white: #FFFFFF;
   $color-black: #000;
   $color-gray: #E5E5E5;
   $color-orange: #FF6332;
   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       line-height: 1;
   }
   
   body {
       font-family: 'Roboto', sans-serif;
       background-color: $color-gray;
   }
   
   .container {
       max-width: 1440px;
       padding: 0 15px;
       margin: 0 auto;
   }
   
   .header {
       min-height: 100vh;
       background-image: url("../img/background-header.jpg");
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       margin-bottom: 30px;
       &::before {
           content: '';
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           z-index: 1;
           background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49));
       }
       h2 {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           z-index: 2;
           font-size: 18px;
           font-weight: 300;
           letter-spacing: 0.05em;
           line-height: 1.5;
           text-transform: uppercase;
           text-align: center;
           color: $color-white;
           span {
               font-size: 24px;
               font-weight: 900;
               color: $color-orange;
           }
       }
   }
   
   main {
       .photo {
           margin-bottom: 50px;
           ul {
               list-style: none;
               li {
                   &:not(:last-child) {
                       margin-bottom: 20px;
                   }
                   img {
                       max-width: 100%;
                       height: auto;
                   }
               }
           }
       }
       .instagram {
           position: relative;
           &::before {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               z-index: 1;
               background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.49));
           }
           .container {
               padding: 0;
           }
           h2 {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               z-index: 2;
               font-size: 30px;
               font-weight: 300;
               letter-spacing: 0.05em;
               line-height: 1.5;
               text-transform: uppercase;
               text-align: center;
               color: $color-white;
               span {
                   font-weight: 900;
                   color: $color-orange;
               }
           }
           ul {
               display: flex;
               flex-wrap: wrap;
               list-style: none;
               li {
                   flex: 50%;
                   line-height: 0;
                   img {
                       max-width: 100%;
                       height: auto;
                   }
               }
           }
       }
   }
   
   .footer {
       min-height: 40px;
       background-color: $color-black;
       p {
           padding-top: 10px;
           font-weight: 300;
           font-size: 18px;
           text-align: center;
           color: $color-white;
       }
   }
   
   @media screen and (min-width: 499px) {
       .header {
           h2 {
               font-size: 24px;
               span {
                   font-size: 30px;
               }
           }
       }
       main {
           .photo {
               ul {
                   display: flex;
                   flex-wrap: wrap;
                   list-style: none;
                   justify-content: space-around;
                   li {
                       flex: 48%;
                       &:last-child {
                           text-align: center;
                       }
                       &:nth-of-type(2n+1) {
                           margin-right: 15px;
                       }
                       img {
                           max-width: 100%;
                           height: auto;
                       }
                   }
               }
           }
       }
   }
   
   @media screen and (min-width: 719px) {
       main {
           .instagram {
               ul {
                   li {
                       flex: 25%;
                   }
               }
           }
       }
   }
   
   @media screen and (min-width: 1440px) {
       .header {
           margin-bottom: 64px;
           h2 {
               font-size: 48px;
               span {
                   font-size: 48px;
               }
           }
       }
       main {
           .photo {
               margin-bottom: 64px;
               ul {
                   li {
                       line-height: 4;
                       flex: 32%;
                       &:not(:last-child) {
                           margin-bottom: 0px;
                       }
                       &:last-child {
                           text-align: unset;
                       }
                       &:nth-of-type(2n+1) {
                           margin-right: 0;
                       }
                   }
               }
           }
       }
   }